/* ------------------------------------------------------------------------- *
 *  tawarly Registration and Login plugin CSS codes
/* ------------------------------------------------------------------------- */

.tawarly_form label { display: block; float: left; width: 130px; }
.tawarly_form input[type="text"], .tawarly_form input[type="password"],
.tawarly_form input[type="email"] {
	padding: 4px 8px;
	background: #f0f0f0;
	border: 1px solid #ccc;
}
.tawarly_form input[type="text"]:focus, .tawarly_form input[type="password"]:focus,
.tawarly_form input[type="email"]:focus {
	border-color: #aaa;
}
 
.tawarly_errors { padding: 8px; border: 1px solid #f50; margin: 0 0 15px; }
